.button {
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

.button:hover {
    -fx-background-color:
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
}

.split-pane {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.split-pane > .split-pane-divider {
    -fx-background-color: #12144e;
}

.table-view .column-header{
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(243, 169, 79, 0.9), rgba(255,255,255,0));
}

.table-row-cell:even {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, rgba(165, 165, 165, 1) 15%, rgba(255, 213, 19, 1) 50%, rgba(165, 165, 165, 1) 85%);
}

.table-row-cell:odd {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, rgba(232, 177, 7, 1) 0%, rgba(255, 248, 0, 1) 50%, rgba(232, 177, 7, 1) 100%);
}

.table-row-cell:selected {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, rgba(255, 0, 0, 1) 0%, rgb(226, 170, 1) 50%, rgba(255, 0, 0, 1) 100%);
    -fx-font-weight: bold;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-view {
    -fx-background-color: transparent;
    -fx-text-alignment: center;
}

.table-row-cell {
    -fx-table-cell-border-color: transparent;
}